node_modules
dist
.env
*.tsbuildinfo

# local data (SQLite)
data
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# editor / OS
.DS_Store
.vscode
.idea

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite
